obj
bin
.vs
AeroSearchWeb/web/node_modules
.idea
.idea
AeroSearchWeb/web/build
AeroSearchWeb/web/yarn-error.log
AeroSearchREST/F__/Project/AeroSearch/AeroSearchREST/AeroSearchREST.xml
AeroSearchREST/AeroSearchREST.xml
*/node_modules
